* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
  margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.finecomb {
  position: relative;
  padding: 5px 5%;
  background: -webkit-linear-gradient(#4c66a4, #435e9c);
  border-bottom: 1px solid #3d4e7e;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
}

  .finecomb-element {
    display: inline-block;
    vertical-align: middle;
  }

  .icon {
    margin-right: 5px;
    width: 32px;
    height: 32px;
    background-image: url('magnifying_glass_32x32.png');
  }

  .inputbox {
    border: 0;
    width: -webkit-calc(100% - 42px);
    width: calc(100% - 42px);
    height: 22px;
    color: rgb(255, 255, 255);
    background-color: transparent;
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-border-image: none;
    -webkit-font-smoothing: antialiased;
    -webkit-appearance: initial;
    font-size: inherit;
    font-family: inherit;
  }

@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  70% {
    -webkit-transform: scale(.9);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  70% {
    -moz-transform: scale(.9);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  70% {
    -o-transform: scale(.9);
  }

  100% {
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  70% {
    transform: scale(.9);
  }

  100% {
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.5s;
}